/**********************/
/** Copy JSX Button **/
/**********************/

.blueprint-copy-jsx-icons {
  display: block;
  margin: auto;
}
.blueprint-copy-jsx-icons path {
  transform-origin: center;
}

.blueprint-layout-preview-control-copy-jsx-feedback {
    position: absolute;
    top: 7px;
    right: 35px;
    background-color: #444;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #999;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
}

.blueprint-layout-preview-control-copy-jsx .fade-out-enter {
  opacity: 0%;
}

.blueprint-layout-preview-control-copy-jsx .fade-out-enter-active {
  opacity: 100%;
  transition: opacity 800ms;
}

.blueprint-layout-preview-control-copy-jsx .fade-out-exit {
  opacity: 100%;
}

.blueprint-layout-preview-control-copy-jsx .fade-out-exit-active {
  opacity: 0%;
  transition: opacity 800ms;
}


/************************/
/** Device Mode Toggle **/
/************************/

.blueprint-device-icons {
  display: block;
  margin: auto;
}
.blueprint-device-icons path {
  transform-origin: center;
}

.blueprint-device-desktop {
  opacity: 0;
  translate: -1.5px 3px;
}

.blueprint-device-tablet {
  opacity: 0;
  transform: scale(1.4) rotate(-90deg) translate3d(7px, -4px, 0);
}

.blueprint-device-mobile {
  transform: scale(1.3) translate3d(7px, -3px, 0);
}

[data-currentdevice="desktop"] .blueprint-device-mobile, [data-currentdevice="tablet"] .blueprint-device-mobile {
  opacity: 0;
}
[data-currentdevice="desktop"] .blueprint-device-desktop {
  opacity: 1;
}
[data-currentdevice="tablet"] .blueprint-device-tablet {
  opacity: 1;
}


/*******************************/
/** Dark Mode Toggle Sun/Moon **/
/*******************************/

.blueprint-sun-and-moon {
    display: block;
    margin: auto;
}

.blueprint-sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.blueprint-sun-and-moon > .sun-beams {
  stroke-width: 2px;
}

[data-theme="dark"] .blueprint-sun-and-moon > .sun {
  transform: scale(1.5);
}

[data-theme="dark"] .blueprint-sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="dark"] .blueprint-sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1) {
  [data-theme="dark"] .blueprint-sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .blueprint-sun-and-moon > .sun {
    transition: transform .4s ease;
  }

  .blueprint-sun-and-moon > .sun-beams {
    transition: transform .4s ease, opacity .4s ease;
  }

  .blueprint-sun-and-moon .moon > circle {
    transition: transform .2s ease-out;
  }

  @supports (cx: 1) {
    .blueprint-sun-and-moon .moon > circle {
      transition: cx .2s ease-out;
    }
  }

  [data-theme="dark"] .blueprint-sun-and-moon > .sun {
    transition-timing-function: ease;
    transition-duration: .20s;
  }

  [data-theme="dark"] .blueprint-sun-and-moon > .sun-beams {
    transition-duration: .15s;
    transform: rotateZ(-25deg);
  }

  [data-theme="dark"] .blueprint-sun-and-moon > .moon > circle {
    transition-duration: .4s;
    transition-delay: .25s;
  }
}
